/* Animations */

/* En base al alto de la pantalla tiene que calcular la velocidad (duración de la animación) para que llegue exactamente a la posición de la flecha fija según el ritmo de la canción. */

.animation-arrows {
  -webkit-animation: movement-y var(--duration) linear;
  -o-animation: movement-y var(--duration) linear;
  -moz-animation: movement-y var(--duration) linear;
  animation: movement-y var(--duration) linear;
}
  
@keyframes movement-y {
  0% {
    -webkit-transform: translateY(100vh);
    -o-transform: translateY(100vh);
    -moz-transform: translateY(100vh);
    transform: translateY(100vh);
  }
  100% {
    -webkit-transform: translateY(calc(var(--tableHeight) - 150px));
    -o-transform: translateY(calc(var(--tableHeight) - 150px));
    -moz-transform: translateY(calc(var(--tableHeight) - 150px));
    transform: translateY(calc(var(--tableHeight) - 150px));
  }
}

body{
  height: 100vh;
}
