nav ul a {
  opacity: .5;
  position: relative;
}

/*nav ul a::after {
  content: '';
  position: absolute; 
  bottom: 0;
  height: 8px;
  opacity: 0;
  right: 0;
  left: 0;
  background: #CDF27E;
  border: solid 2px #CDF27E;
}

nav ul a.active{
  opacity: 1;
}*/

td>img {
  display:grid;
  font-size: 12rem;
  height: 100vh;
  place-items: center;
}

.bg-z-index{
 z-index: -1;
}

.blink {
  -webkit-animation: animate 0.2s;
  -moz-animation: animate 0.2s;
  -o-animation: animate 0.2s;
  animation: animate 0.2s;
}

@keyframes animate {
  0%{
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%);
  }
  100% {
    filter: invert(42%) sepia(40%) saturate(666%) hue-rotate(127deg) brightness(98%) contrast(88%);
  }
}

/* Perfect */
#linea1{
  position: fixed;
  top: 40px;
  width: 100%;
  border: solid black 1px;
  background-color: black;
}

#linea2{
  position: fixed;
  top: 120px;
  width: 100%;
  border: solid black 1px;
  background-color: black;
}
/* Great */
#linea3{
  position: fixed;
  top: 30px;
  width: 100%;
  border: solid black 1px;
  background-color: black;
}

#linea4{
  position: fixed;
  top: 130px;
  width: 100%;
  border: solid black 1px;
  background-color: black;
}
/* Good */
#linea5{
  position: fixed;
  top: 20px;
  width: 100%;
  border: solid black 1px;
  background-color: black;
}

#linea6{
  position: fixed;
  top: 140px;
  width: 100%;
  border: solid black 1px;
  background-color: black;
}
/* Bad */
#linea7{
  position: fixed;
  top: 10px;
  width: 100%;
  border: solid black 1px;
  background-color: black;
}

#linea8{
  position: fixed;
  top: 150px;
  width: 100%;
  border: solid black 1px;
  background-color: black;
}
/* Miss */
#linea9{
  position: fixed;
  top: 0px;
  width: 100%;
  border: solid black 1px;
  background-color: black;
}

#linea10{
  position: fixed;
  bottom: 0px;
  width: 100%;
  border: solid black 1px;
  background-color: black;
}