nav ul a {
  opacity: .5;
  position: relative;
}

nav ul a::after {
  content: '';
  position: absolute; 
  bottom: 0;
  height: 8px;
  opacity: 0;
  right: 0;
  left: 0;
  background: #CDF27E;
  border: solid 2px #CDF27E;
}

nav ul a.active,
nav ul a.active::after {
  opacity: 1;
  border: solid 2px black;
}

td>img {
  display:grid;
  font-size: 12rem;
  height: 100vh;
  place-items: center;
}